@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css  */
.hero-image {
  background-image: url("/public/house-3.jpeg");
  background-size: cover;
  background-position: center;
}
